:root {
  --primary-color: #17b895;
  --highlight-color: #22f3c6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.navbar {
  background: #343a40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 5px var(--primary-color);
}

.wrapper {
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.menu {
  display: flex;
}
.menu button {
  cursor: pointer;
  padding: 1rem;
  border: none;
  background: #343a40;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-bottom: solid 5px var(--primary-color);
}
.menu button:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 0 15px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.menu button:first-child {
  border-radius: 10px 0 0 0;
}
.menu button:last-child {
  border-radius: 0 10px 0 0;
}
.container {
  background: #343a40;
  border-radius: 0 10px 10px 10px;
  color: #fff;
  padding: 3rem;
}

.mainarea {
  width: 100%;
  display: flex;
  border: 5px dotted var(--primary-color);
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: var(--primary-color);
  height: 5px;
}

.rangeslider-horizontal {
  height: 5px;
}

.formpanel {
  margin-top: 25px;
}
.inputgroup {
  display: flex;
  justify-content: space-between;
}

.inputgroup label {
  font-size: large;
  font-size: 1.2rem;
  padding-right: 20px;
}

.inputgroup input {
  padding: 0.5rem;
  border-radius: 2px;
  background-color: inherit;
  border: 1px solid grey;
  color: white;
  font-size: 1rem;
}

.btn {
  padding: 10px;
  margin-left: 40%;
  margin-top: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  font-size: 1.5rem;
}

.frame {
  margin: 20px;
  font-size: 1.3rem;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.col50 {
  width: 50%;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.col50 label {
  color: rgb(184, 183, 183);
}

.detail_head {
  justify-self: flex-start;
  border-bottom: 2px solid grey;
}
